<div class="viewport"></div>
<div class="menu-modal">
	<div class="overlay" onclick="hideMenu()">
	</div>
	<div class="menu">
		<h1>menu</h1>
	</div>
</div>

<script>
	$(document).ready(startGame());
</script>
