<div class="viewframe">
	<div class="grid"></div>
</div>
<div class="menu-modal">
	<div class="overlay" onclick="Menu.hide()">
	</div>
	<div class="menu">
		<div id="selection-menu">
			<h1>menu</h1>
			<div class="menu-selector" onclick="Menu.createTower(0)">
				<img class="menu-thumbnail" src="basicTower.png">
				basic tower
			</div>
		</div>
		<div id="upgrade-menu">
	</div>
</div>

<script>
	$(document).ready(startGame());
</script>
