<div class="viewport"></div>
<div class="menu-modal">
	<div class="overlay" onclick="Menu.hide()">
	</div>
	<div class="menu">
		<div id="selection-menu">
			<h1>menu</h1>
			<button type="button" onclick="Menu.addTower('basic')">add</button>
		</div>
		<div id="upgrade-menu">
	</div>
</div>

<script>
	$(document).ready(startGame());
</script>
