/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.viewframe {
	position: relative;
	top: 40px;
	height: 480px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
	overflow: hidden;
	z-index: 2;
}

.grid {
	position: relative;
    height: 560px;
    width: 880px;
    top: -40px;
    left: -40px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.row {
    display: block;
}

.game-space {
	position: relative;
    border: 1px dotted gray;
    width: 38px;
    height: 38px;
    display: block;
    float: left;
}

.game-space img {
	margin: 1px;
	height: 36px;
	width: 36px;
}

.game-space:hover {
	background-color: lightgrey;
}

.spawn-space {
	position: relative;
	width: 40px;
	height: 40px;
	display: block;
	float: left;
}

.menu-modal {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

.overlay {
	height: 100vh;
	width: 100vw;
	opacity: .5;
}

.menu {
	position: absolute;
	height: 200px;
	width: 200px;
	top: 0px;
	left: 0px;
	background-color: white;
	border: 1px black solid;
	z-index: 2;
}

.enemy {

}

.enemy img {
	height: 40px;
	width: 40px;
}

#selection-menu {

}

#upgrade-menu {

}
